html{
	scrollbar-width:none;
  	scroll-behavior:smooth;
}
body{
	background-image: url(https://images.unsplash.com/photo-1527635619717-589e8a5d7b7d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2378&q=80);
  	background-repeat:no-repeat;
  	background-attachment:fixed;
  	background-size:cover;
  	background-position: center;
}

a{
	color:#737670;
  	text-decoration:none;
}
ul.theheader{
  	overflow:hidden;
  	position:fixed;
	top: 0;
	width: 100%;
  	background-color:#FFFFFF;
}
ul{
	height:75px;
  
}
a:hover {
  color: #94c0bc;
}
div.contentate{
  	height:100%;
  	margin-top:115px;
  	margin-bottom:75px;
  	padding-left:200px;
  	padding-right:200px;
	opacity:0.98;
}
i.spacering{
	letter-spacing:3px;
  	font-size:18px;
}
p{
	font-size:15px;
}
