html{
	scrollbar-width:none;
  	scroll-behavior:smooth;
}
body{
	background-image: url(https://images.unsplash.com/photo-1536211880782-dd4fab03d94a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1934&q=80);
  	background-repeat:no-repeat;
  	background-attachment:fixed;
  	background-size:cover;
  	background-position: bottom;
}

a{
	color:#b2b2b2;
  	text-decoration:none;
}
ul.theheader{
  	overflow:hidden;
  	position:fixed;
	top: 0;
	width: 100%;
  	background-color:#FFFFFF;
}
ul{
	height:75px;
  
}
a:hover {
  color: #5e97d7;
}
div.contentate{
  	height:100%;
	margin-top:100px;
}
div.centralized{
  	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
i.spacering{
	letter-spacing:3px;
}
